# Data Science Tools and EcoSystem

In this notebook, data science tools and ecosystem are summarized. (At least, that's the goal.)

**Objectives: **

* List Data Science Languages
* List Data Science Tools
* Familiarization with the Anaconda Environment
* Introduction to using Jupyter Notebooks

Some of the popular languages that data scientists use are:

1. Python
2. Scalia
3. R
4. SQL
5. Java
6. C/C++

Some of the common libaries used in data science are:

1. MatplotLib
1. NumPy
1. Pandas
1. Plotly
1. Sckikit-Learn


Tools in Data Science |
--------------------------------
RStudio |
Spyder |
PyCharm Professional |
Jupyter Notebooks|

###  Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply and add numbers

(3 * 4) + 5

17

In [2]:
# this will convert 200 minutes into hours

200 / 60

3.3333333333333335

## Author
Ron Minihan